@font-face {
   font-family: 'BrittanySignature';
   font-display: swap;
   src: url('file:///C:/Users/rexel/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-04-14_104548/fonts/BrittanySignature/font.ttf');
}
